@{
    ViewData["Title"] = "Chat";
    Layout = "_ChatLayout";
}

<div class="chat">
    <div class="messages">
        <ul id="messagesList"></ul>
    </div>
    <div class="message-editor">
        <input type="text" id="messageInput" />
        <input type="button" id="sendButton" value="Send" class="btn btn-dark" />
    </div>
</div>
