
@{
    ViewData["Title"] = "Index";
}

<div class="menu">
    <div id="server-menu">

    </div>
    <div id="channel-menu">

    </div>
</div>

<div class="chat">
    <h1>Welcome back, @User.Identity.Name</h1>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
