@{
    ViewData["Title"] = "Home";
}

<div class="welcome text-center">
    <img src="~/img/continuum.svg" />
    <div>
        <button class="btn button-primary">Register</button>
        <button class="btn button-secondary">Open Continuum</button>
    </div>
</div>
