@{
    ViewData["Title"] = "Home";
}

<div class="text-center welcome">
    <div class="content">
        <img src="~/img/continuum.svg" />
        <div>
            <button class="btn button-primary">Register</button>
            <a href="~/chat" class="btn button-secondary">Open Continuum</a>
        </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" id="wave-transition" viewBox="0 0 1440 68" enable-background="new 0 0 1440 68"><path fill="#bbaaee" transform="translate(0 -1977)" d="m 1622 1938 c 0 0 -410 169 -913 75.5 c -503 -94 -978 56 -978 56 v 440 h 1891 v -572" /></svg>
<div class="container-purple">
    <section class="flex-cards">
        <div class="card border-top-pink animated fadeInDown">
            <h2>Card</h2>
            <p>Text</p>
        </div>
        <div class="card border-top-purple animated fadeInDown d-200">
            <h2>Card</h2>
            <p>Text</p>
        </div>
        <div class="card border-top-blue animated fadeInDown d-400">
            <h2>Card</h2>
            <p>Text</p>
        </div>
    </section>
</div>