@{
    ViewData["Title"] = "Home";
}

<div class="fullscreen text-center welcome">
    <div class="content">
        <img src="~/img/continuum.svg" />
        <div>
            <button class="btn button-primary">Register</button>
            <button class="btn button-secondary">Open Continuum</button>
        </div>
    </div>
</div>
