::selection {
    background-color: #abc;
}

html {
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    margin-bottom: 60px;
}

nav {
    background-color: #fff;
    height: 50px;
    line-height: 40px;
    position: relative;
    padding: 0 20px;
}

nav #links {
    background-color: #fff;
    display: none;
    flex-direction: column;
    flex: 1 1;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
}

nav .links {
    display: block;
    flex-direction: column;
    flex: 1 1;
    align-items: center;
}

nav .links a {
    color: #555;
    margin: 0;
    padding: 0.2rem 1rem;
}

nav .links a:hover {
    color: #6daedb;
}

.nav-link {
    padding: 0 1rem;
}

.nav-link button {
    padding-left: 0;
}

nav #menu-button {
    background-color: inherit;
    border: solid 2px #bbf;
    border-radius: 6px;
    color: #bbf;
    float: right;
    padding: 0 24px;
    line-height: 30px;
    margin-top: 8px;
}

a.navbar-brand {
    display: inline;
    white-space: normal;
    text-align: center;
    word-break: break-all;
    height: 100%;
}

a.navbar-brand:hover {
    color: #bbd;
}

a.navbar-brand img {
    height: 100%;
}

a {
    color: #6daedb;
    transition-duration: 0.2s;
}

.subtext {
    color: #777;
}

.clickable {
    cursor: pointer;
}

.fullscreen {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

.content {
    margin-top: 10%;
}

.floating-action, .query {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.query {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.query > div {
    background-color: #fff;
    border-radius: 10px;
    width: 60%;
    margin: auto;
}

.text-input {
    border: 1px solid #a6f;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
}

.menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 325px;
}

#server-menu {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 60px;
}

#server-menu a {
    background-color: #dae;
    border-radius: 50%;
    color: #555;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 2rem;
    line-height: 44px;
    transition-duration: 0.2s;
}

#server-menu a:hover {
    background-color: #a6f;
    color: #fff;
}

#channel-menu {
    background-color: #eee;
    border-top-left-radius: 10px;
    position: absolute;
    top: 0;
    left: 60px;
    bottom: 0;
    right: 0;
}

#channel-menu a {
    background-color: #ddd;
    border-radius: 5px;
    color: #555;
    display: block;
    height: 45px;
    line-height: 42px;
    margin: 10px;
    padding: 0 15px;
}

.chat {
    background-color: #f5f5f5;
    position: absolute;
    top: 0;
    right: 0;
    left: 325px;
    bottom: 0;
    padding: 20px;
}

.messages {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 90px;
    overflow: auto;
}

.message-editor {
    background-color: #ddd;
    border-radius: 10px;
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    height: 50px;
}

.message-editor #messageInput {
    border: none;
    border-radius: 10px;
    flex: 1 1;
    margin: 5px;
    padding: 5px;
}

#sendButton {
    height: 100%;
    width: 100px;
}

.welcome {
    width: 90%;
    margin: auto;
}

.welcome img {
    width: 100%;
}

.welcome .btn {
    display: block;
    border: 0;
    color: #555;
    margin-top: 20px;
    padding: 1rem 0.5rem;
    width: 100%;
    transition-duration: 0.2s;
}

.welcome .btn:hover {
    color: #fff;
}

.button-primary {
    background-image: linear-gradient(to right, #a6f, #dae);
}

.button-secondary {
    border: 3px solid #dae !important;
    padding: 0.8rem 0.35rem !important;
}

.button-secondary:hover {
    background-color: #dae;
}

#wave-transition {
    width: 100%;
    margin-top: 10%;
}

.container-purple {
    background-color: #bae;
    width: 100%;
    padding: 5% 10%;
}

.border-top-pink {
    border-top: 8px solid #ffd3da !important;
}

.border-top-purple {
    border-top: 8px solid #e2a0ff !important;
}

.border-top-blue {
    border-top: 8px solid #89daff !important;
}

.flex-cards, .flex-cards-large {
    display: flex;
    flex-direction: column;
}

.card {
    border: 0;
    border-radius: 5px;
    flex: 1 1;
    margin: 15px 5px;
    padding: 15px;
}

@media (min-width: 512px) {
    nav #menu-button {
        display: none;
    }
    nav #links {
        display: inline-block;
    }
    nav .links {
        display: inline-flex;
        flex-direction: row;
    }
    nav .links a {
        float: right;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .welcome {
        width: 80%;
    }
    .welcome img {
        width: 80%;
    }
    .welcome .btn {
        display: inline-block;
        padding: 0.5rem;
        width: 40%;
    }
    .button-secondary {
        padding: 0.35rem !important;
    }
    .floating-action {
        align-items: center;
        left: 15%;
        width: 600px;
    }
}

@media (min-width: 1000px) {
    .flex-cards {
        flex-direction: row;
    }
    .card {
        margin: 15px;
    }
}

@media (min-width: 1200px) {
    .flex-cards-large {
        flex-direction: row;
    }
}

@media (min-width: 1400px) {
}
