<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Continuum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/animatecss/animate.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav id="nav">
            <a class="navbar-brand" href="~/app"><img src="~/img/ctm.svg" /></a>
            <button id="menu-button" onclick="showMenu()">Menu</button>
            <div id="links">
                <div class="links">
                </div>
                <div class="links float-right">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="fullscreen">
        <div class="menu">
            <div id="server-menu">
                <a class="clickable" onclick="setDialog('addServer')">+</a>
            </div>
            <div id="channel-menu">
                <a href="#">Home</a>
                <a href="#">Friends</a>
                <a href="#">News</a>
            </div>
        </div>
        @RenderBody()
    </div>

    <div class="fullscreen query" id="dialog" onclick="hideDialog()">
        <div id="addServer" class="flex-cards" onclick="stopPropogation(event)">
            <div class="card">
                <h2>Create Server</h2>
                <form asp-controller="Home" asp-action="Create">
                    <div class="form-group">
                        <label for="serverName">Server Name:</label>
                        <input type="text" id="serverName" class="text-input" placeholder="Ex: Gamer Den 1337" />
                    </div>
                    <button type="submit" class="btn button-primary w-100">Create</button>
                </form>
            </div>
            <div class="card">
                <h2>Join Server</h2>
                <form asp-controller="Home" asp-action="Join">
                    <div class="form-group">
                        <label for="inviteCode">Invite Code:</label>
                        <input type="text" id="inviteCode" class="text-input" placeholder="Ex: https://cntm.ml/ABCDEF" />
                    </div>
                    <button type="submit" class="btn button-secondary w-100">Join</button>
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
